.card {
  margin-top: 10%;
  display: grid;
  place-items: center;
  margin-bottom: 7%;
}
.card h1 {
  font-weight: 650;
}
.card p {
  font-size: 24px;
  margin-top: 20px;
  color: #3d4f60;
}
.card-grid {
  display: grid;
  grid-template-columns: 470px 470px;
  grid-template-rows: 470px 470px 470px;
  margin-top: 50px;
  gap: 2rem;
}
.grid-items {
  background-color: white;
  border-radius: 20px;
  padding: 35px 30px;
  position: relative;
  overflow: hidden;
}
.title {
  font-size: 40px;
}
.grid-items .about {
  font-size: 20px;
  width: 290px;
}
.card-a {
  position: absolute;
  bottom: 10%;
  img {
    width: 2rem;
    height: auto;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    font-size: 17px;
    color: black;
  }
}
.card-img {
  position: absolute;
  right: 30px;
  bottom: -8px;
  /* display: none; */
  opacity: 0;
  transition: opacity 0.3s ease-in;
  img {
    width: 15rem;
    height: auto;
  }
}

/*Hover effect*/

.grid-items:hover .card-img {
  /* background-color: black; */
  opacity: 1;
}
.piggybank:hover {
  cursor: pointer;
  background-color: #0f60d6;
  .title,
  .about {
    color: white;
  }
}
.card-a {
  img {
    color: white;
  }
  a {
    color: white;
  }
}

.safelock:hover {
  cursor: pointer;
  background-color: #3296ff;
  .title,
  .about {
    color: white;
  }
}
.card-a {
  img {
    color: white;
  }
  a {
    color: white;
  }
}

.target:hover {
  cursor: pointer;
  background-color: #39c277;
  .title,
  .about {
    color: white;
  }
}
.card-a {
  img {
    color: white;
  }
  a {
    color: white;
  }
}

.naira:hover {
  cursor: pointer;
  background-color: #e5288e;
  .title,
  .about {
    color: white;
  }
}
.card-a {
  img {
    color: white;
  }
  a {
    color: white;
  }
}

.dollar:hover {
  cursor: pointer;
  background-color: #0c1825;
  .title,
  .about {
    color: white;
  }
}
.card-a {
  img {
    color: white;
  }
  a {
    color: white;
  }
}

.house:hover {
  cursor: pointer;
  background-color: #ff783c;
  .title,
  .about {
    color: white;
  }
}
.card-a {
  img {
    color: white;
  }
  a {
    color: white;
  }
}
/*media responsiveness*/
@media (max-width: 993px) {
  .card h1 {
    font-size: 25px;
    width: 28%;
    margin: 0 auto;
    letter-spacing: 0.05px;
  }
  .card p {
    font-size: 14px;
    width: 28%;
    margin: 12px auto;
  }
  .card-grid {
    display: grid;
    grid-template-columns: 235px 235px;
    grid-template-rows: 235px 235px 235px;
    margin-top: 50px;
    gap: 1rem;
    padding: 0 10px;
  }
  .grid-items {
    padding: 30px 15px;
  }
  .grid-items .title {
    margin: 0;
    font-size: 19px;
    width: 100%;
  }
  .grid-items .about {
    font-size: 10px;
    width: 150px;
    margin: 0;
    margin-top: 10px;
  }
  .card-a {
    position: absolute;
    bottom: 10%;
    img {
      width: 0.5rem;
      height: auto;
      margin-right: 10px;
    }
    a {
      text-decoration: none;
      font-size: 8px;
      color: #3d4f60;
    }
  }
}
